/* 공통 CSS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* ------------------------------------------------------------------------------- */

/* list 페이지 */
* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	/* cursor: url('/mini_board/src/css/img/mouse.png'),auto; */
	cursor: url(/mini_board/src/css/img/gam1564.cur), auto;
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url(/mini_board/src/css/img/1.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: -50px 0px; */
}

main {
	width: 1200px;
	height: 700px;
	margin: 230px auto 0px;
	background-color: rgba(255, 255, 255,0.3);
	border-radius: 50px 50px 50px 50px;
	position: relative;
	box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

header > h1 {
	margin: 0;
	color: #ffffff;
	text-align: center;
	font-size: 1.5rem;
	position: absolute;
	top: -50px;
	left: 500px;
}

header > h1 > a {
	color: #ffffff;
	text-decoration-line: none;
}

.main-top {
	border-radius: 50px 50px 0px 0px;
	height: 70px;
	background-color: rgba(255, 255, 255,0.3);
	padding: 20px 50px;
}

.main-top-1 {
	width: 30px;
	height: 30px;
	background-color: #E66E5D;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

.main-top-2 {
	width: 30px;
	height: 30px;
	background-color: #F2C051;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

.main-top-3 {
	width: 30px;
	height: 30px;
	background-color: #67C358;
	border-radius: 50%;
	display: inline-block;
}

.main-top > p {
	margin: 0;
	margin-left: 10px;
	display: inline-block;
	font-size: large;
}

/* .header-a {
	color: #fff;
	text-decoration-line: none;
} */

table {
		border-collapse: collapse;
		width: 1100px;
	height: 500px;
	margin: 10px auto;
	font-size: 1.5rem;
	border: 1px solid #929292;
	border-style: hidden;
	border-bottom: 1px solid #d6d6d6;
}

.table-title {
	/* border-radius: 50px 50px 0px 0px; */
	/* border: none; */
	/* background-color: rgba(255, 255, 255,0.3);; */
	/* border-bottom: 1px solid #000 ; */
	font-weight: bold;
	color: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.table-tr-td-a {
	color: #ffffff8e;
	text-decoration-line: none;
}

tr, td {
	/* border-bottom: 1px solid #000; */
	text-align: center;
	color: #ffffff8e;
}

tr.colored:hover td{
	transform: scale(1.2);
	transition-duration: 0.3s;
	background-color: #a4c6f6;
	color: rgba(255, 255, 255,0.8);
	/* color: #fff; */
}

.th-title:hover {
	/* transform: scale(1.2);
	background-color: #a4c6f6;
	color: rgba(255, 255, 255,0.8); */
}

tr.colored:hover .table-tr-td-a {
	/* font-size: 1.7rem; */
	color: #ffffff;
	/* color: #4d7cbd; */
	/* text-decoration-line: underline; */
}

.insert-box {
	/* width: 1150px; */
	margin: auto;
	text-align: center;
}

.insert-btn{
	margin-top: 20px;
	text-align: center;
	color: #ffffff;
	width: 100px;
	padding: 10px;
	border-radius: 30px;
	background-color: rgba(255, 255, 255,0.3);
	display: inline-block;
	text-decoration: none;
}

.insert-btn:hover {
	outline: 3px solid #fff;
	transform: scale(1.2);
	transition-duration: 0.3s;
	color: #fff;
}

section {
	text-align: center;
	width: 1100px;
	margin: auto;
	margin-top: 25px;
	font-size: 1.3rem;
	/* background-color: #67C358; */
}

section > a {
	text-decoration: none;
	display: inline-block;
	border-radius: 50%;
	/* background-color: #000; */
	/* border-radius: 25%; */
}

.page-btn {
	width: 50px;
	height: 50px;
	margin-left: 10px;
	line-height: 50px;
	/* padding: 80px; */
	text-align: center;
	/* background-color: rgba(255, 255, 255,0.3); */
	color: #ffffffc5;
}

.page-btn:hover {
	color: #fff;
	transform: scale(1.2);
	transition-duration: 0.3s;
	background-color: rgba(255, 255, 255,0.3);
}

.page-on {
	font-size: 1.5rem;
	color: #fff;
	background-color: rgba(255, 255, 255,0.3);
}

/* ------------------------------------------------------------------------------- */

/* insert 페이지 */
.insert-table {
	height: 0;
}
.insert-form {
	/* display: inline-block; */
	border-collapse: collapse;
	width: 1100px;
	height: 550px;
	margin: 20px 50px;
	/* background-color: #5896c3; */
	border: 1px solid #929292;
	border-style: hidden;
	vertical-align:middle;
	font-size: 1.5rem;
	color: #fff;
}

.title-box {
	/* background-color: rgba(255, 255, 255,0.3); */
	height: 80px;
	border-radius: 50px 50px 0 0;
	padding: 25px 30px;
	border-bottom: 1px solid rgba(255, 255, 255);
}

input {
	/* display: inline-block; */
	border: none;
	background-color: transparent;
	height: 40px;
	width: 960px;
	border: 1px solid rgba(255, 255, 255,0.3);
}

.content-box {
	/* background-color: rgba(255, 255, 255,0.3); */
	padding: 15px 30px;
	width: 1100px;
	height: 430px;
}

textarea {
	/* display: inline-block; */
	border: none;
	background-color: transparent;
	resize: none;
	vertical-align: top;
	border: 1px solid rgba(255, 255, 255,0.3);
}

.but-box {
	text-align: center;
}

.insert-but {
	text-align: center;
	display: inline-block;
	background-color: transparent;
	border: none;
	text-decoration-line: none;
	margin: auto;
	margin-left: 20px;
	width: 80px;
	padding: 10px;
	background-color: rgba(255, 255, 255,0.3);
	color: #ffffff;
	border-radius: 30px;
	font-size: 1rem;
	cursor: pointer;
}

input {
	margin-left: 10px;
	color: #fff;
	/* padding: 10px; */
}

textarea {
	margin-left: 10px;
	color: #fff;
	/* padding: 10px; */
}

input:focus {
	border: none;
    outline: none;
	outline: 2px solid #fff;
}

textarea:focus {
	border: none;
    outline: none;
	outline: 2px solid #fff;
}

.insert-but:hover {
	outline: 3px solid #fff;
	transform: scale(1.2);
	transition-duration: 0.3s;
	font-size: 1.1rem;
}

/* ------------------------------------------------------------------------------- */

/* detail 페이지 */
.detail-page{
	color: #fff;
	margin-top: 20px;
}

.detail-page-a {
	width: 1100px;
	margin: auto;
	text-align: right;
}

.detail-page-a > a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin: 20px auto;
	margin-left: 20px;
	width: 80px;
	padding: 10px;
	background-color: rgba(255, 255, 255,0.3);
	color: #ffffff;
	border-radius: 30px;
	font-size: 800;
}

.detail-page-a > a:hover {
	outline: 3px solid #fff;
	transform: scale(1.2);
	transition-duration: 0.3s;
	font-size: 1.1rem;
	/* background-color: #fff; */
}

/* ------------------------------------------------------------------------------- */

/* update 페이지 */
.box {
	border: 5px solid rgb(255, 93, 72);
	width: 500px;
	padding: 10px;
	margin: auto;
	color: rgb(255, 93, 72);
}

.table-box {
	border: none;
}
/* 
input {
	font-size: 20px;
}

textarea {
	font-size: 20px;
} */

.error-btn {

	padding: 30px;
	margin-left: 10px;
	line-height: 50px;
	/* padding: 80px; */
	text-align: center;
	/* background-color: rgba(255, 255, 255,0.3); */
	color: #ffffffc5;
}

.error-btn:hover {
	color: #fff;
	transform: scale(1.2);
	transition-duration: 0.3s;
	background-color: rgba(255, 255, 255,0.3);
}

.error-box {
	margin-top: 150px;
	font-size: 30px;
}

.err_msg {
	margin: auto;
	text-align: center;
}