.container {
  margin: auto;
  width: 600px;
}

.hd {
  width: 600px;
  height: 200px;
  background-color: brown;
  border: 1px solid black;
}

.mi {
  width: 600px;
  height: 500px;
  background-color: blue;
  border: 1px solid black;
  text-align: center;
}

.mi-top {
  margin: 0;
  padding: 10px;
  background-color: black;
  color: aliceblue;
  text-align: left;
}
