
/* 기본 값
/* ------------------------------------------------------------------------ */
@font-face {
	src: url(../font/a신디나루M.ttf);
	font-family: "main-font";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Inter', sans-serif; */
	font-family: "main-font";
	font-size: 25px;
	font-weight: 600;
	cursor: url(../cur/B.cur), url(../cur/A.cur), auto
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	text-decoration-line: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
	border: none;
	background-color: transparent;
}

body {
	background-image: url(../img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
}

main {
	width: 1820px;
	height: 950px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 50px 50px 0px;
	position: relative;
	/* z-index: -1; */
}
/* ------------------------------------------------------------------------ */



/* 레이아웃 구분 */
/* ------------------------------------------------------------------------ */
.header {
	background-color: #57BCA9;
	background-color: rgba(87, 188, 169, 1);
	width: 100%;
	height: 90px;
	border-radius: 0px 50px 0px 0px;
	position: absolute;
	top: 0px;
	/* z-index: -2; */
}

.header h1 {
	display: inline-block;
	margin-left: 60px;
	line-height: 90px;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.5);
}

.header h1:hover {
	color: #fff;
}


.side-left {
	padding: 40px 45px 45px 50px;
	width: 440px;
	height: 860px; 
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 90px; 
	/* z-index: -3; */
}

.side-left-box {
	width: 340px;
	height: 775px;
}

.date-box {
	width: 340px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #57BCA9;
	text-align: center;
	color: #57BCA9;
}

.date-box:focus {
	background-color: #57bca9;
	color: #fff;
	border: none;
	outline: none;
}


/* input[type='date'] {
	position: relative;
} */

.date-box[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

/* .date-boxt[type='date']::before {
	content: attr(placeholder);
	height: 100%;
	} */

/* .date-box[type='date']:valid::before {
	display: none;
} */

/* input[type='date']::before {
	content: attr(placeholder);
	height: 100%;
} */
/* ------------------------------------------------------------------------ */



/* 좌측 */
/* ------------------------------------------------------------------------ */
.side-left-line-1 {
	margin: auto;
	margin-top: 30px;
	width: 140px;
	border: 3px solid #57BCA9;
	border-radius: 5px;
}

.side-left-on {
	margin-top: 30px;
	background-image: url(../img/btn-on.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: #57BCA9;
}

.side-left-off {
	margin-top: 25px;
	background-image: url(../img/btn-off.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: rgba(0, 0, 0, 0.5);
}

.side-left-page:hover {
	background-image: url(../img/btn-on.png);
	color: #57BCA9;
}

.side-left-line-2 {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 140px;
	border: 3px solid #57BCA9;
	border-radius: 5px;
}

/* .side-left-box-category {
	margin-top: 15px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #57BCA9;
	text-align: center;
	line-height: 43px;
	color: #57BCA9;
} */

.category-box {
	margin-top: 17px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #57BCA9;
	text-align: center;
	line-height: 43px;
	color: #57BCA9;
	display: inline-block;
}

input[type="radio"] {
    display: none; /* 라디오 버튼 숨김 */
}

input[type="radio"]:checked + label {
    background-color:#57BCA9;
	color: #fff;
}

.category-box:hover {
    background-color:#57BCA9;
	color: #fff;
}
/* ------------------------------------------------------------------------ */



/* 중앙 */
/* ------------------------------------------------------------------------ */

.content {
	position: absolute;
	top: 90px; 
	left: 440px;
	padding: 40px 30px;
}

.content-box {
	width: 870px;
	height: 775px;
	overflow:scroll;
	overflow-x: hidden
}

.content-box::-webkit-scrollbar {
	width: 8px;
    background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.content-box::-webkit-scrollbar-thumb {
    background-color: #57BCA9;
	border-radius: 5px;
}

.content-table {
	/* border-spacing: 30px 0px;
	border-collapse: separate; */
	display: inline-block;
}

.cotent-table tr, td {
	display: inline-block;
	margin-bottom: 30px;
	margin-right: 30px;
	vertical-align: middle;
}

summary::marker {
    display: none;
    content: "";
}

.content-date-box {
	width: 180px;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	text-align: center;
	line-height: 80px;
	display: inline-block;
}

.content-amount-box {
	width: 295px;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	text-align: center;
	line-height: 80px;
	display: inline-block;
}

.content-monthly-box {
	width: 295px;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	text-align: center;
	line-height: 80px;
	display: inline-block;
}

.content-td-color {
	background-color: rgba(87, 188, 169, 0.8);
	color: #fff;
	font-size: 30px;
}

.content-td-margin {
	margin-right: 20px;
	margin-bottom: 10px;
}

.content-date-summary-box {
	width: 180px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
}

.content-amount-summarybox{
	width: 295px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
}

.content-monthly-summary-box {
	width: 295px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
}




/* ------------------------------------------------------------------------ */



/* 우측 */
/* ------------------------------------------------------------------------ */

.side-right {
	padding: 40px 40px 45px 55px;
	width: 450px;
	height: 860px; 
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 50px 0px;
	position: absolute;
	top: 90px; 
	/* z-index: -3; */
	left: 1370px;
}

.side-right-box {
	width: 340px;
	height: 775px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50px 50px 50px 50px;
	border: 1px solid #57BCA9;
}

.side-right-top {
	margin: auto;
	/* margin-left: 20px; */
	margin-top: 50px;
	width: 330px;
	height: 90px;
	background-image: url(../img/result.png);
	text-align: center;
	line-height: 90px;
	font-size: 40px;
	color: #487bd9;
}

.side-right-character {
	margin: auto;
	margin-top: 30px;
	width: 212px;
	height: 382px;
	background-image: url(../img/character1.png);
	background-repeat: no-repeat;
}

.side-right-bottom {
	margin-top: 50px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

meter {
	width: 300px;
	height: 80px;
	border-radius: 10px;
}

meter::-webkit-meter-bar {
    border-radius: 15px;
	appearance: none;
}
/* ------------------------------------------------------------------------ */
progress {
	width: 300px;
	height: 60px;
	color: #2ecc71;
}

progress[value]::-webkit-progress-bar{
	background-color: whitesmoke;
	box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}

#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);

}