
/* 기본 값
/* ------------------------------------------------------------------------ */
@font-face {
	src: url(/1st_project/src/font/a신디나루M.ttf);
	font-family: "main-font";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Inter', sans-serif; */
	font-family: "main-font";
	font-size: 25px;
	font-weight: 600;
	cursor: url(/1st_project/src/cur/B.cur), url(/1st_project/src/cur/A.cur), auto
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	text-decoration-line: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
	border: none;
	background-color: transparent;
}

body {
	background-image: url(/1st_project/src/img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
}

main {
	width: 1820px;
	height: 950px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 50px 50px 0px;
	position: relative;
	/* z-index: -1; */
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
	outline: none;
	border: none;
}
/* ------------------------------------------------------------------------ */



/* 레이아웃 구분 */
/* ------------------------------------------------------------------------ */
.header {
	background-color: #c0a0c9;
	background-color: rgba(192, 160, 201, 1);
	width: 100%;
	height: 90px;
	border-radius: 0px 50px 0px 0px;
	position: absolute;
	top: 0px;
	/* z-index: -2; */
}

.header h1 {
	display: inline-block;
	margin-left: 60px;
	line-height: 90px;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.5);
}

.header h1:hover {
	color: #fff;
	transform: scale(1.1);
	transition-duration: 0.3s;
}


.side-left {
	padding: 40px 45px 45px 50px;
	width: 440px;
	height: 860px; 
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 90px; 
	/* z-index: -3; */
}

.side-left-box {
	width: 340px;
	height: 775px;
}

.date-label {
	position: relative;
}

.date-btn {
	position: absolute;
	top: -8px;
	right: 20px;
}

.date-btn img {
	width: 40px;
	opacity: 0.2;
}

.date-btn img:hover {
	opacity: 1;
}

.date-box {
	width: 340px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #c0a0c9;
	text-align: center;
	color: #c0a0c9;
}

.date-box:focus {
	background-color: #57bca9;
	color: #fff;
	border: none;
	outline: none;
}


/* input[type='date'] {
	position: relative;
} */

.date-box[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

.date-boxt[type='date']::before {
	content: attr(placeholder);
	height: 100%;
	}

.date-box[type='date']:valid::before {
	display: none;
}

/* input[type='date']::before {
	content: attr(placeholder);
	height: 100%;
} */
/* ------------------------------------------------------------------------ */



/* 좌측 */
/* ------------------------------------------------------------------------ */
.side-left-line-1 {
	margin: auto;
	margin-top: 30px;
	width: 140px;
	border: 3px solid #c0a0c9;
	border-radius: 5px;
}

.side-left-on {
	margin-top: 30px;
	background-image: url(/1st_project/src/img/btn-on.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: #57BCA9;
}

.side-left-off {
	margin-top: 28px;
	background-image: url(/1st_project/src/img/btn-off.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: rgba(0, 0, 0, 0.5);
}

.side-left-page:hover {
	background-image: url(/1st_project/src/img/btn-on.png);
	color: #57BCA9;
}

.side-left-line-2 {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 140px;
	border: 3px solid #c0a0c9;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.929);
}

/* .side-left-box-category {
	margin-top: 15px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #57BCA9;
	text-align: center;
	line-height: 43px;
	color: #57BCA9;
} */

.img-left-box {
	border: 3px solid #c0a0c9;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	width: 340px;
	height: 250px;
	margin-top: 40px;
	background-image: url(/1st_project/src/icon/delete_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: 250px 250px ;
}

.img-left-box:hover {
	background-color: #c0a0c9;
	transform: scale(1.1);
	transition-duration: 0.3s;
}

.font-left-box {
	top: -10px;
	display: inline-block;
	font-size: 3em;
	font-style: oblique;
	position: relative;
	left: 60px;
	top: 150px;
	color: #c0a0c9;
	-webkit-text-stroke: 1px #000;
}

/* .category-box {
	margin-top: 17px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #c0a0c9;
	text-align: center;
	line-height: 43px;
	color: #c0a0c9;
	display: inline-block;
} */

input[type="radio"] {
    display: none; /* 라디오 버튼 숨김 */
}

input[type="radio"]:checked + label {
    background-color:#c0a0c9;
	color: #fff;
}

.category-box:hover {
    background-color:#c0a0c9;
	color: #fff;
}
/* ------------------------------------------------------------------------ */



/* 중앙 */
/* ------------------------------------------------------------------------ */

.content {
	position: absolute;
	top: 90px; 
	left: 440px;
	padding: 40px 30px;
}

.content-box {
	width: 870px;
	height: 775px;
}

/* ------------------------------------------------------------------------ */




.side-left-on:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}
.side-left-off:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}
/* content-box------------------------------------------------------------------------ */

/* .content-box {
	line-height: 100px;
} */

/* .box1 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	text-align: center;
	width: 870px;
	height: 200px;
	padding-top: 50px;
}

.box1>h1 {
	font-size: 3rem;
	
}

.box1>span {
	color: red;
}

.box2 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	text-align: center;
	width: 870px;
	height: 80px;
	padding: 30px;
}

.box3 {
	text-align: center;
}

.title {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	margin: auto;
	padding: 35px;
	width: 285px;
	height: 95px;
	position: relative;
	right: 5px;
}

.title_box {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	margin: auto;
	padding: 43px;
	width: 740px;
	height: 95px;
	left: 10px;
}

.box4 {
	text-align: center;
}

.memo {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	margin: auto;
	padding: 35px;
	width: 310px;
	height: 100px;
	position: relative;
	bottom: 40px;
	right: 5px;
}

.memo_box {
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 20px;
	width: 735px;
	height: 95px;
	resize:none;
	left: 15px;
}

/* .memo, .memo_box {
	margin: 5px;
} */
/* 
.box5, .box6 {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);
	width: 403px;
	height: 80px;
	text-align: center;
	padding: 28px;
	border-radius: 20px;
	position: relative;
	bottom: 10px;
} */

/* .box6 {
	left: 50px;
} */

/* .box5 {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);
} */ 

.main_box {
	border-collapse: collapse;
}

.box1 {
	background-color: rgba(255, 255, 255, 0.5);
	
	border-radius: 30px;
	text-align: center;
	width: 870px;
	height: 150px;
	padding-top: 30px;
	line-height: 50px;
	/* box-shadow: 5px 5px 5px 5px gray; */
}

.box1>h1 {
	font-size: 3rem;	
	
}

.box1>h1>span {
	color: #ba2de1;
	/* text-shadow: 3px 3px grey; */
}

.box2 {
	text-align: center;
	font-size: 30px;
	
}

.box2-1, .box2-2 {
	width: 420px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	
	border-radius: 20px;
	text-align: center;
	display: inline-block;
	line-height: 100px;
	color: #57bca9;
}

.box2-1 {
	position: relative;
	right: 8px;
}

.box2-2 {
	position: relative;
	left: 8px;
}

.box3 {
	width: 870px;
	height: 100px;
	position: relative;
	
}

.box3-1 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	display: inline-block;
	width: 157px;
	height: 100px;
	text-align: center;
	padding-top: 35px;
	position: absolute;
	color: #57bca9;
	font-size: 30px;
}

.box3-2 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	display: inline-block;
	text-align: center;
	width: 700px;
	height: 100px;
	position: absolute;
	left: 170px;
	line-height: 100px;
}

.box4 {
	width: 870px;
	height: 100px;
	position: relative;
	font-size: 30px;
}

.box4-1 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	display: inline-block;
	width: 157px;
	height: 100px;
	text-align: center;
	padding-top: 35px;
	position: absolute;
	color: #57bca9;
}

.box4-2 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	display: inline-block;
	text-align: center;
	width: 700px;
	height: 100px;
	position: absolute;
	left: 170px;
	line-height: 100px;
}

.box5 {
	text-align: center;
	font-size: 30px;
}

.box5-1, .box5-2 {
	background-color: rgba(255, 255, 255, 0.5);
	
	border-radius: 20px;
	display: inline-block;
	width: 420px;
	height: 100px;
	line-height: 100px;
	color: #57bca9;
}

.box5-1 {
	position: relative;
	bottom: 20px;
	right: 8px;
}

.box5-2 {
	position: relative;
	bottom: 20px;
	left: 8px;
}

.box6 {
	text-align: center;
	font-size: 30px;
}

.box6-1 {
	display: inline-block;
	border: none;
	color: rgb(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	width: 260px;
	height: 76px;
	position: relative;
	right: 80px;
	bottom: 30px;
	font-size: 30px;
}

.box6-2 {
	display: inline-block;
	text-decoration: none;
	color: rgb(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	width: 260px;
	height: 76px;
	line-height: 80px;
	position: relative;
	left: 80px;
	bottom: 30px;
}


.box6>form>button:hover {
	background-color: rgb(255, 255, 255, 0.8);
	color:  #c0a0c9;
	transition: 0.2s;
}

.box6>form>a:hover {
	background-color: rgb(255, 255, 255, 0.8);
	color:  #c0a0c9;
	transition: 0.2s;
}