
/* 기본 값
/* ------------------------------------------------------------------------ */
@font-face {
	src: url(../font/a신디나루M.ttf);
	font-family: "main-font";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Inter', sans-serif; */
	font-family: "main-font";
	font-size: 25px;
	font-weight: 600;
	cursor: url(../cur/B.cur), url(../cur/A.cur), auto
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	text-decoration-line: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
	border: none;
	background-color: transparent;
}

body {
	background-image: url(../img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
}

main {
	width: 1820px;
	height: 950px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 50px 50px 0px;
	position: relative;
	/* z-index: -1; */
}
/* ------------------------------------------------------------------------ */



/* 레이아웃 구분 */
/* ------------------------------------------------------------------------ */
.header {
	
	background-color: rgba(100, 161, 233, 1);
	width: 100%;
	height: 90px;
	border-radius: 0px 50px 0px 0px;
	position: absolute;
	top: 0px;
	/* z-index: -2; */
}

.header h1 {
	display: inline-block;
	margin-left: 60px;
	line-height: 90px;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.5);
}

.header h1:hover {
	color: #fff;
}


.side-left {
	padding: 40px 45px 45px 50px;
	width: 440px;
	height: 860px; 
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 90px; 
	/* z-index: -3; */
}

.side-left-box {
	width: 340px;
	height: 775px;
}

.date-box {
	width: 340px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid rgba(100, 161, 233, 1);
	text-align: center;
	color: #57BCA9;
}

.date-box:focus {
	background-color: rgba(100, 161, 233, 1);
	color: #fff;
	border: none;
	outline: none;
}


/* input[type='date'] {
	position: relative;
} */

.date-box[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

/* .date-boxt[type='date']::before {
	content: attr(placeholder);
	height: 100%;
	} */

/* .date-box[type='date']:valid::before {
	display: none;
} */

/* input[type='date']::before {
	content: attr(placeholder);
	height: 100%;
} */
/* ------------------------------------------------------------------------ */



/* 좌측 */
/* ------------------------------------------------------------------------ */
.side-left-line-1 {
	margin: auto;
	margin-top: 30px;
	width: 140px;
	border: 3px solid #57BCA9;
	border-radius: 5px;
}

.side-left-on {
	margin-top: 30px;
	background-image: url(../img/btn-on.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: #57BCA9;
}

.side-left-off {
	margin-top: 25px;
	background-image: url(../img/btn-off.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: rgba(0, 0, 0, 0.5);
}

.side-left-page:hover {
	background-image: url(../img/btn-on.png);
	color: #57BCA9;
}

.side-left-line-2 {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 140px;
	border: 3px solid #57BCA9;
	border-radius: 5px;
}

/* .side-left-box-category {
	margin-top: 15px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #57BCA9;
	text-align: center;
	line-height: 43px;
	color: #57BCA9;
} */

.red-insert {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	margin-top: 20px;
	width: 340px;
	height: 280px;
	font-size: 100px;
	text-align: center;
	
	background-color: rgba(255, 255, 255, 0.5);
}
.category-box {
	margin-top: 20px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid rgba(100, 161, 233, 1);
	text-align: center;
	line-height: 43px;
	color: #57BCA9;
	display: inline-block;
}

input[type="radio"] {
    display: none; /* 라디오 버튼 숨김 */
}

input[type="radio"]:checked + label {
    background-color:#57BCA9;
	color: #fff;
}

.category-box:hover {
    background-color:rgba(100, 161, 233, 1);
	color: #fff;
}
/* ------------------------------------------------------------------------ */



/* 중앙 */
/* ------------------------------------------------------------------------ */

.content {
	position: absolute;
	top: 90px; 
	left: 440px;
	padding: 40px 30px;
}

.content-box {
	width: 870px;
	height: 780px;
}

.content-date-box {
	width: 870px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	border-radius: 30px;
	text-align: center;
	line-height: 100px;
	font-size: 35px;
	cursor: pointer;
}

.content-date-box>input[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 870px;
	height: 100px;
	background: transparent;
	color: transparent;
	cursor: pointer;
}
.content-date-box input {
	text-align: center;
} 

.content-date-box > input {
	cursor: pointer;
	text-align: center;
}
.content-date-box:hover {
	background-color: #ffffff;
}
.content-title-box {
	margin-top: 37px;
	height: 100px;
}
.content-title-box1 {
	width: 150px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	border-radius: 30px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	margin-right: 10px;
	font-size: 30px;
	
}
.content-title-box2 {
	width: 700px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(130, 115, 87, 1);
	border-radius: 30px;
	padding: 20px;
	opacity: 10;
}
.content-title-box2:focus {
	outline: none;
	background-color: rgb(255, 255, 255, 0.8);
}

.content-memo-box {
	margin-top: 37px;
	height: 100px;
}
.content-memo-box1 {
	width: 150px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	border-radius: 30px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	margin-right: 10px;
	font-size: 30px;
	
}
.content-memo-box2 {
	resize:none;
	width: 700px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(130, 115, 87, 1);
	border-radius: 30px;
	border: none;
	vertical-align:middle;
	opacity: 10;
}
.content-memo-box2:focus {
	outline: none;
	background-color: rgb(255, 255, 255, 0.8);
}
textarea {
	padding-left: 20px;
	padding-top: 35px;
}

.content-value-box {
	width: 870px;
	height: 230px;
}
.content-category {
	width: 420px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	text-align: center;
	border-radius: 30px;
	border: none;
	margin-top: 37px;
	appearance: none;
	font-size: 30px;
}

.content-category:hover {
	background-color: #ffffff;
}


select:focus {outline:none;}

select:hover {
	border-color: rgba(100, 161, 233, 1);
  }

.content-category-money {
	width: 420px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(130, 115, 87, 1);
	line-height: 100px;
	text-align: center;
	border-radius: 30px;
	margin-top: 30px;
}
input::-webkit-inner-spin-button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
  }
input:focus {outline: none;}

textarea:focus {outline: none;}

.content-category-money input {
	text-align: center;
}
.content-category-money>input[type=number]:focus {
	outline: none;
	background-color: rgb(255, 255, 255, 0.8);
}


.content-float1 {
	float: left;
}
.content-float2 {
	float: left;
	width: 420px;
	height: 230px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	font-size: 40px;
	border-radius: 30px;
	text-align: center;
	margin-top: 37px;
	margin-left: 30px;
	line-height: 150px;
}
.content-float2 > p {
	height: 80px;
	font-size: 60px;
	color: rgba(228, 91, 91, 1);
	/* text-align: center; */
}

.content-button {
	width: 870px;
	height: 200px;
	float: left;
}
button{
	border:none;
}

.content-button-go {
	float: left;
	width: 260px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	text-align: center;
	border-radius: 30px;
	line-height: 100px;
	margin: 30px auto;
	margin-left: 160px;
	font-size: 35px;
}
.content-button-go:hover {
	background-color: #ffffff
}
.content-button-back {
	float: left;
	width: 260px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	text-align: center;
	border-radius: 30px;
	line-height: 100px;
	margin: 30px auto;
	margin-left: 30px;
	font-size: 35px;
}
.content-button-back:hover {
	background-color: #ffffff
}
/* ------------------------------------------------------------------------ */


/* 우측 */
/* ------------------------------------------------------------------------ */

.side-right {
	padding: 40px 40px 45px 55px;
	width: 450px;
	height: 860px; 
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 50px 0px;
	position: absolute;
	top: 90px; 
	/* z-index: -3; */
	left: 1370px;
}

.side-right-box {
	width: 340px;
	height: 780px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50px 50px 50px 50px;
	border: 1px solid #57BCA9;
}

.side-right-top {
	margin: auto;
	/* margin-left: 20px; */
	margin-top: 50px;
	width: 330px;
	height: 90px;
	background-image: url(../img/result.png);
	text-align: center;
	line-height: 90px;
	font-size: 40px;
	color: #487bd9;
}

.side-right-character {
	margin: auto;
	margin-top: 30px;
	width: 212px;
	height: 382px;
	background-image: url(../img/character1.png);
	background-repeat: no-repeat;
}

.side-right-bottom {
	margin-top: 50px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

meter {
	width: 300px;
	height: 80px;
	border-radius: 10px;
}

meter::-webkit-meter-bar {
    border-radius: 15px;
	appearance: none;
}
/* ------------------------------------------------------------------------ */
