.lyrics-container {
	width: 100%;
	overflow: hidden;
  }
  
  .lyrics {
	white-space: nowrap;
	animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
  }