*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DungGeunMo';
    color: #fff;
}
/* 버튼 hover 각 페이지 전체 적용 */
@-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url(/todolist/src/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* 공통class */
.center{
    text-align: center;
}

a {
    text-decoration: none;
}


/* header */
header{
    width: 100%;
    height: 370px;
}

h1{
    position: absolute;
    width: 335px;
    height: 262px;
    right: 60px;
    top: 100px;
}

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
h1:hover {
	-webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
        animation: pulsate-bck 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
0% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
@keyframes pulsate-bck {
0% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}


h1 a {
    color: #fff;  
    text-decoration: none;
    font-size: 100px;
}

.img_moon{
    position: absolute;
    width: 274px;
    height: 246px;
    right: 4px;
    top: -54px;
}

/* list */

.list_table {
    width: 900px;
    height: 480px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: -50px auto 50px auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}

.list_img_paper{
    width: 63px;
    height: 63px;
    position: absolute;
    left: 14px;
    top: 18px;
}


.list_head_td {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 20px 0px 55px;
    height: 75px;
}

.list_date_search_input{
    position: relative;
    font-size: 30px;
    padding: 0px 70px 0px 30px;
    background: none;
    border: none;
    outline: none;
}

.list_date_search_input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.list_date_search_input::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}


.list_date_search_btn{
    right: 32px;
    top: 34px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
}

.list_date_search_btn:hover{
    cursor: pointer;
}


.list_content_chk_td{
    width: 50px;
}


.lsit_page {
    margin: 0px 20px;
    color: #9BA4F8;
}
.list_now_page {
    color: #fff;
}

.list_content{
    text-decoration: none;
    color: white;
}

.list_content_chk{
    text-decoration: line-through;
    color: #565656;
}

.list_insert_btn{
    display: block;
    width: 190px;
    height: 60px;
    font-size: 40px;
    background-color: rgba(205, 204, 204, 0.2);
    margin: 30px auto;
    line-height: 60px
}
.list_insert_btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}

/* detail */

.detail_table {
    position: relative;
    width: 755px;
    height: 559px;
    margin: 0 auto;
    font-size: 2.0rem;
    text-align: center;
    background: url(../img/detail_board.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    padding: 30px;
}


.detail_head {
    font-size: 50px;
    height: 100px;
    margin: 0 auto;
    padding-top: 55px;
}

.detail_btn {
    display: inline-block;
    padding: 0;
    margin: 0 40px;
    border: none;
    width: 160px;
    height: 55px;
    line-height: 55px;
    background-color: rgba(205, 204, 204, 0.2);
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
}

.detail_btn:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}
.detail_content_1 {
    font-size: 35px;
    padding-top: 80px;
    height: 100px;
}

.detail_content_2 {
    font-size: 35px;
    padding-bottom: 30px;
    height: 100px;
}


.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/star.png); 
    animation: twinkling 6s infinite;
    z-index: -1;
}

@keyframes twinkling {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.detail_img{
    position: absolute;
}
.labtop {
    left: -75px;
    bottom: -40px;
}
.c_star{
    left: -100px;
    top: -100px;
}
.cloude{
    right: -120px;
    top: 155px;
}

/*detail_table: 상세 정보를 담고 있는 테이블의 스타일을 정의합니다.
 이 테이블은 페이지 중앙에 위치하며, 배경 이미지가 사용되고 텍스트가 중앙 정렬됩니다.

.detail_head: 상세 정보 테이블의 제목 부분 스타일을 설정합니다.
 큰 글꼴 크기와 특정 높이로 표시되며, 상단 패딩과 가운데 정렬이 적용됩니다.

.detail_btn: 수정, 삭제, 나가기 버튼의 스타일을 정의합니다. 
이 버튼들은 인라인 블록 요소로 표시되며, 
배경 색상과 글꼴 크기가 설정되며 마우스 호버 시 깜빡이는 애니메이션이 적용됩니다.

.detail_content_1 및 .detail_content_2: 상세 정보 테이블의 내용 부분의 스타일을 설정합니다. 
텍스트 크기와 상단 또는 하단 패딩이 정의됩니다.

.stars: 별 모양 이미지를 배경으로 가지는 요소를 스타일링합니다.
 이 배경 이미지는 깜빡이는 애니메이션을 가지며, 화면 전체에 채워집니다.

@keyframes twinkling: 별 모양 이미지의 깜빡이는 애니메이션을 정의합니다.
 별 이미지가 화면에서 반짝이는 효과를 가집니다.

.detail_img: 다양한 이미지 요소의 스타일을 설정합니다.
 labtop, c_star, cloude 클래스는 각 이미지의 위치를 조절합니다*/

/* insert */
.insert_error_p {
    font-size: 20px;
    margin: 0 auto 10px;
    text-align: center;
    color: red;
    height: 30px;
    
    
}
.insert_form{
    display: block;
    position: relative;
    width: 1120px;
    height: 50px;
    margin: 0 auto;
}

.insert_input {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 1120px;
    height: 55px;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    padding-right: 100px;
    z-index: 0;
}
.insert_butt {
    border: none;
    background: none;
    position: absolute;
    top: 13px;
    left:  1025px;
}
.insert_butt:hover {
    cursor: pointer;
}
.insert_pen {
    width: 33px;
    height: 33px;
}
.insert_a {
    position: absolute;
    top: 5px;
    left:  1065px;
}
/* ----------------------------------------------
 *  2023-10-12 10:53:47
 * 기능 : 양이 블랙홀에 빨려들어감 효과
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-blurred-top{0%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateY(-1000px) scaleY(2) scaleX(.2);transform:translateY(-1000px) scaleY(2) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}@keyframes slide-out-blurred-top{0%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateY(-1000px) scaleY(2) scaleX(.2);transform:translateY(-1000px) scaleY(2) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}

/* ----------------------------------------------
 *  2023-10-12 11:49:47
 * 기능 : UFO 날아가는 효과
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-out-elliptic-right-bck {
0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
}
100% {
    -webkit-transform: translateX(1000px) rotateY(-30deg) scale(0);
            transform: translateX(1000px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 1;
}
}
@keyframes slide-out-elliptic-right-bck {
0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
}
100% {
    -webkit-transform: translateX(1000px) rotateY(-30deg) scale(0);
            transform: translateX(1000px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 1;
}
}



.insert_sheep {
position: absolute;
top: 420px;
left: -200px;
width: 300px;

}
.insert_sheep:hover {
    position: absolute;
    top: 420px;
    left: -200px;
    width: 300px;
    display: block;
    -webkit-animation:slide-out-blurred-top 3s cubic-bezier(.755,.05,.855,.06) infinite both;animation:slide-out-blurred-top 3s cubic-bezier(.755,.05,.855,.06) both
}
.insert_sheep:hover + .insert_ufo{
    display: block;
}

.insert_cat1 {
    position: absolute;
    top: 30px;
    left: 310px;
    width: 550px;
}
.insert_cat2 {
    position: absolute;
    top: 30px;
    left: 310px;
    width: 550px;
}

.insert_div {
    position: relative;   
}

/* 기능 : 고양이 hover 했을 때 바뀌는 것*/

.face {       
    transition: all 0.5s;
}
.cat_back {
    position: absolute; 
    z-index: 1;
    opacity: 0; 
}
.cat_front {
    position: relative; 
    z-index: 2; 
    opacity: 1;     
}
.insert_div:hover > .cat_back {
    z-index: 2; 
    opacity: 1;   
}
.insert_div:hover > .cat_front {
    z-index: 1; 
    opacity: 0;   
}
	

input::placeholder {
    color: rgb(255, 255, 255, 0.4);
}

.insert_ufo {
    position: absolute;
    top: -300px;
    left: -150px;
    width: 520px;
    height: 250px;
    width: 200px;
    display: none;
	-webkit-animation: slide-out-elliptic-right-bck 1.2s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
    animation: slide-out-elliptic-right-bck 1.2s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
    animation-delay: 3s;
}

/* update */
.update_form {
    margin: 0 auto;
    position: relative;
    width: 860px;
    height: 400px;
}

.update_table {
    position: relative;
    background-image: url(../img/update_table.svg);
    width: 859px;
    height: 392px;
    padding: 50px;
}

.update_table_error {
    height: 100px;
    color: red;
    font-size: 25px;
}

.update_text {
    padding: 10px;
    background: none;
    position: absolute;
    bottom: 165px;
    left: 80px;
    color: #000;
    border: none;
    font-size: 35px;
    width: 700px;
    text-align: center;
    resize: none;
}
.update_div {
    margin: 20px;
    text-align: center;
}
.update_a {
    display: inline-block;
    padding: 0;
    margin: 0 40px;
    border: none;
    width: 160px;
    height: 55px;
    line-height: 55px;
    background-color : rgba(205, 204, 204, 0.2);
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
}
.update_a:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}

.update_cat {
    position: absolute;
    bottom: -250px;
    left: -150px;
    width: 180px;
}
.update_cat2 {
    position: absolute;
    bottom: -250px;
    left: -400px;
}
/* update_cat hover */
.update_cat:hover{
	-webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}
.update_cat2:hover {
	-webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-13 11:11:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}
30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
}
40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
}
50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
}
65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
}
75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
}
100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}
}
@keyframes jello-vertical {
0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}
30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
}
40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
}
50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
}
65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
}
75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
}
100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}
}




/* delete */

.delete_table{
    font-size: 1.6rem;
    background-image: url("/TODOLIST/src/img/delete_box.png");
    width: 1000px;
    height: 465px;
    margin: 0 auto;
}

.delete_p {
    font-size: 3rem;
    color: red;
    height: 50px;
    padding-top: 65px;
}
.delete_msg_1 {
    padding-top: 25px;
    font-size: 1.7rem;
    color: #000;
    height: 40px;
}
.delete_msg_2 {
    font-size: 1.7rem;
    color: #000;
    height: 40px;
}
/* @keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
} */

.delete_td{
    font-size: 1.7rem;
    color: #000;
    height: 150px;
    padding-bottom: 50px; 
}

.delete_td span{
    display: inline-block;
    border: 5px solid #d9d9d9;
    color: #000000;
    padding: 20px;
    animation:flash 2s infinite; 
    
}

@keyframes flash{
    0%{opacity:1;}
    50%{opacity:.5;}
    100%{opacity:1;}
    }

.delete_a {
    display: inline-block;
    font-size: 1.6rem;
    background-color: rgba(240, 240, 240,0.3);
    /* color: #000; */
    width: 150px;
    height: 50px;
    padding : 8px;
}

.delete_a:hover {
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}
.delete_section {
    text-align: center;
    top: 500px;
    right: 900px;
}
.delete_btn {
    position: relative;
    text-align: left;
    padding-left: 21px;
    border: none;
    background-color: rgba(240, 240, 240,0.3);
    font-size: 1.6rem;
    width: 150px;
    height: 50px;
}

.delete_btn:hover {
    cursor: pointer;
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}
.delete_span {
    position: absolute;
    right: 21px;
    top: 4px;
    color: #fff;
    font-size: 1.6rem;
    padding: 10px;

}

.delete_span2 {
    position: relative;
    bottom: 14px;
    right: 24px;
    color: #fff;
    font-size: 1.6rem;
    margin-left: 20px;
}

.delete_btn_img2 {
position: relative;
top: -4px;
right: -8px;
}

.delete_content {
position: relative;
border: 2px solid #d9d9d9;
display: inline-block;
width: 530px;
height: 50px;
text-align: center;
padding: 10px;
color: #000;
bottom: 120px;
left: 710px;
font-size: 1.6rem;

}
/* search */

.search_page_btn{
    margin: 0 auto;
}

.search_out_btn:hover{
    text-decoration: underline;
    text-underline-position: under;
}

.search_content{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.search_content_chk{
    text-decoration: line-through;
    color: #565656;
    display: inline-block;
}

.search_table {
    width: 900px;
    height: 480px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}


.search_head_td {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 20px 0px 55px;
    height: 75px;
}




/* 햄버거버튼 list페이지 */

input[id="icon"] {
    display:none;
} 


input[id="icon"] + label{
    position: relative;
    display:block;
    width:40px;
    height:30px;
    cursor:pointer;
    margin-left: 20px;
    margin-top: 20px;
} 

input[id="icon"] + label > span {
    position: absolute;
    display:block;
    width:100%;
    height:5px;
    border-radius:30px;
    background:#ffffff;
    transition: all 0.35s;  
    z-index:2;

}

input[id="icon"] + label > span:nth-child(1) {
    top:0px;
}

input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  
}

input[id="icon"] + label > span:nth-child(3) {
    bottom:0px;
}


input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

input[id="icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
}

input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

#icon + label + #header {
    box-shadow: 10px 0px 70px 20px #000000b5;
    position:fixed; 
    width:300px;
    height:100%;
    background-color: #311a9344;
    top:0px;
    padding: 230px 25px 25px 25px;
    box-sizing:border-box;
    left:-300px;
    z-index:1;
    transition: all 0.35s;
}

#icon:checked + label + #header {
    left:0px;
}

#icon:checked + label + #header > ul > li > a {
    color: white;

}
.side_search_li_msg {
    height: 30px;
    list-style: none;
    color: red;
    padding-right: 27px;
}

.side_search_li {
    list-style: none;
}

.side_search_li form input {
    font-size: 20px;
    position: relative;
    width: 180px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
    outline: none;
    background: none;
    border: 1px solid #ffffff ;
    padding-left: 10px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    cursor: pointer;
}



.side_search_li form button {
    position: absolute;
    right: 35px;
    top: 263px;
    border: none;
    background: none;
}
.side_search_li form button img{
    width: 25px;
    cursor: pointer;
}

.side_week_li{
    padding: 20px;
    font-size: 40px;
    list-style: none;
}
.side_week_li a:hover{
    text-decoration: underline;
    text-underline-position: under;
}
.side_month_li{
    padding: 20px;
    font-size: 40px;
    list-style: none;
    margin-bottom: 70px;
}

.side_month_li a:hover{
    text-decoration: underline;
    text-underline-position: under;
}
.side_search_li_msg_2 {
    height: 30px;
    list-style: none;
    color: red;
}

.list_side_date{
    position: relative;
    font-size: 30px;
    padding-left: 34px;
    background: none;
    border: none;
    outline: none;
}

.list_side_date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.list_side_date::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}

.side_tilde{
    font-size: 40px;
    padding-left: 11px;
}
.list_side_date_btn {
    margin: 13px 0px 0px 93px;
    border: none;
    background-color: rgba(240, 240, 240,0.3);
    font-size: 1rem;
    width: 60px;
    height: 30px;
}

.list_side_date_btn:hover {
    cursor: pointer;
    -webkit-animation:blink-2 .9s both;animation:blink-2 .9s both
}

/* stats */

.stats_table{
    width: 900px;
    height: 480px;
    border: 8px solid #9BA4F8;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    padding: 20px;
}

.stats_table thead tr{
    display: flex;
    justify-content: space-between;
}
.stats_table thead tr a{
    line-height: 120px;
}
.stats_table thead tr a:hover{
    text-decoration: underline;
    text-underline-position: under;
}

.stats_table thead tr span{
    font-size: 60px;
}

.stats_td_per{
    height: 50px;
}



progress {
    -webkit-appearance: none;
    border-radius: 10px;
}

::-webkit-progress-bar {
background-color: grey;
}

.stats_progress_1::-webkit-progress-value {
background-color: greenyellow;
}
.stats_progress_2::-webkit-progress-value {
background-color: rgb(0, 0, 185);
}
.stats_progress_3::-webkit-progress-value {
background-color: rgb(0, 174, 255);
}
.stats_progress_4::-webkit-progress-value {
background-color: yellow;
}
.stats_progress_5::-webkit-progress-value {
background-color: orange;
}
.stats_progress_6::-webkit-progress-value {
background-color: red;
}


/* pickstate */
.pickstats_date{
    height: 50px;
    padding-left:  0px;
}

.pickstats_img{
    width: 26px;
    height: 22px;
    margin-right: 8px;
}

.pickstats_msg{
    color: #999999;
    padding-bottom: 60px;
}

/* search_con */
.search_con_page_now_page{
    color: #9BA4F8;
}


.search_con_content{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.search_con_content_chk{
    text-decoration: line-through;
    color: #565656;
    display: inline-block;
}

.search_con_span{
    text-decoration: none;
    font-size: 25px;
    color: rgb(110, 110, 110);
    padding-left: 20px;
}

.search_con_msg{
    color: #999999;
    padding-bottom: 60px;
}

/* main 페이지 */

.main_a {
    display: inline-block;
    width: 100%;
    height: 99.7vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_jpg {
    display: block;
    background-image: url(../img/sleep.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 510px;
    height: 340px;
    margin: 630px auto 0px auto;
    position: relative;
}
.main_msg {
    font-size: 40px;
    position: absolute;
    top: -130px;
    left: 10px;
}
.main_div{
    font-size: 180px;
    position: absolute;
    top: -489px;
    left: 74px;
}
.main_img_moon{
    position: absolute;
    width: 359px;
    right: -90px;
    top: -550px;
}

.zzz {
    animation-name: zzz;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    font-weight: bold;
    
    transform: translateY(100%);
}

.zzz-z {
    top: 90px;
    animation-delay: 0s;
    right: 50px;
    position: absolute;
}
.zzz-zz {
    top: 90px;
    animation-delay: 0.5s;
    right: 30px;
    position: absolute;
}
.zzz-zzz {
    top: 90px;
    animation-delay: 1s;
    right: 40px;
    position: absolute;
}


/* *** All Animations *** */
/*Darker Sky*/
@-webkit-keyframes zzz {
	0% {
        color: rgb(255, 255, 255);
        font-size: 50px;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        color: rgb(255, 255, 255);
        font-size: 92px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes zzz {
    0% {
        color: rgba(255, 255, 255, 0);
        font-size: 30px;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        color: rgb(255, 255, 255);
        font-size: 72px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
/*.main_a: 메인 페이지 링크 요소의 스타일을 정의합니다.

display: inline-block;: 요소를 인라인 블록으로 표시합니다. 
이로 인해 요소의 가로 너비와 세로 높이를 지정할 수 있습니다.
width: 100%;: 요소의 가로 너비를 화면 전체 너비로 확장합니다.
height: 99.7vh;: 요소의 세로 높이를 화면 높이의 99.7%로 설정합니다.
margin: 0;: 가장 바깥 여백을 없앱니다.
padding: 0;: 내부 여백을 없앱니다.
box-sizing: border-box;: 패딩과 경계 상자의 크기를 요소의 전체 크기에 포함시킵니다.
.main_jpg: 메인 페이지의 컨테이너 요소의 스타일을 정의합니다.

display: block;: 요소를 블록 요소로 표시합니다.
background-image: url(../img/sleep.png);: 배경 이미지로 "sleep.png"를 사용합니다.
background-repeat: no-repeat;: 배경 이미지의 반복을 비활성화합니다.
background-size: cover;: 배경 이미지를 요소에 맞게 늘립니다.
width: 510px;: 요소의 가로 크기를 510픽셀로 설정합니다.
height: 340px;: 요소의 세로 크기를 340픽셀로 설정합니다.
margin: 630px auto 0px auto;: 요소를 수직 가운데 정렬하고, 수평 가운데 정렬합니다.
position: relative;: 요소의 위치를 상대적으로 설정합니다.
.main_msg: "아무 곳이나 클릭해 주세요" 메시지의 스타일을 정의합니다.

font-size: 40px;: 글꼴 크기를 40픽셀로 설정합니다.
position: absolute;: 요소의 위치를 절대 위치로 설정합니다.
top: -130px;: 요소를 상단에서 130픽셀 위로 이동시킵니다.
left: 10px;: 요소를 왼쪽에서 10픽셀 옮깁니다.
.main_div: "꿀잠" 메시지의 스타일을 정의합니다.

font-size: 180px;: 글꼴 크기를 180픽셀로 설정합니다.
position: absolute;: 요소의 위치를 절대 위치로 설정합니다.
top: -489px;: 요소를 상단에서 489픽셀 위로 이동시킵니다.
left: 74px;: 요소를 왼쪽에서 74픽셀 옮깁니다.
.main_img_moon: 달 이미지의 스타일을 정의합니다.

position: absolute;: 이미지의 위치를 절대 위치로 설정합니다.
width: 359px;: 이미지의 가로 크기를 359픽셀로 설정합니다.
right: -90px;: 이미지를 오른쪽에서 90픽셀 왼쪽으로 이동시킵니다.
top: -550px;: 이미지를 상단에서 550픽셀 위로 이동시킵니다.
.zzz, .zzz-z, .zzz-zz, .zzz-zzz: "Z" 문자의 애니메이션 효과의 스타일을 정의합니다.

animation-name: zzz;: 애니메이션 효과의 이름을 "zzz"로 지정합니다.
animation-duration: 2.5s;: 애니메이션의 지속 시간을 2.5초로 설정합니다.
animation-timing-function: ease-out;: 애니메이션의 타이밍 함수를 
"ease-out"으로 설정합니다.
animation-iteration-count: infinite;: 애니메이션을 무한 반복합니다.
font-weight: bold;: 글꼴의 두께를 굵게 설정합니다.
transform: translateY(100%);: translateY 변환을 사용하여 요소를 수직으로 이동시킵니다.
@-webkit-keyframes zzz와 @keyframes zzz: "Z" 문자의 애니메이션 효과를 정의합니다.

애니메이션은 글자의 크기와 투명도를 조절하여 위아래로 움직이는 것을 표현합니다. 
초기에 투명한 글자에서 점점 크고 불투명한 글자로 변화하면서 반복됩니다.*/