/* 제목 부분 */
.search_layout_div {
	width: 100%;
	height: 60px;
	font-weight: bold;
	margin: 10px 0;
	font-size: 20px;
	line-height: 20px;
}
.search_layout_div_div, .search_div_div_txt, .search_div_div_p {
	display: inline-block;
}
.search_layout_div_div {
	color: #4dac27;
}
.search_div_div_txt {
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	max-width: 250px;
}

/* 컨텐츠 나열부분 */
.search_layout_container {
	padding: 0 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-template-rows: auto;
}
.search_layout_container_div {
	width: 100%;
	height:310px;
	margin: 0 auto;
}
.search_layout_container_a {
	display: block;
	width: 100%;
	height: 200px;
	transition: transform 0.3s;
}
.search_layout_container_a:hover {
	transform: scale(1.05);
}
.search_layout_container_img {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
}
.search_book_title_txt {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}
.search_book_author_txt {
	font-size: 11px;
	padding: 3px 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.search_book_nosearch_txt {
	width: 100%;
	height: 300px;
	color: #767676;
}
/* 페이지네이션 */
.paginate_div {
	justify-content: center;
	align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
	height: 50px;
}
.paginate_disable {
	pointer-events: none;
    cursor: default;
}

.paginate_a, .paginate_current, .paginate_prenext {
	height: 25px;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 0.7rem;
	margin: 0px 3px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.paginate_a, .paginate_current {
	width: 25px;
}
.paginate_prenext {
	width: 50px;
}

.paginate_current {
	color:#fff;
	background-color: #767676;
}