/* 휴대폰 */
@media only screen and (max-width: 767px) {

    .register-container,
    .info-container,
    .login-container,
    .password-reconfirm-container {
        width: 85%;
        margin: 20px auto 40px auto;
        padding: 2em 3em 2em 3em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }

    .login-container,
    .verification-container {
        width: 85%;
        margin: 100px auto 40px auto;
        padding: 2em 1em 2em 1em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }

    .withdrawal-container {
        width: 100%;
        margin: 20px auto 40px auto;
        padding: 2em 1.2em 2em 1.2em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }

    .register-h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .info-h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .login-h1,
    .password-reconfirm-h1,
    .verification-h1 {
        margin: 60px auto;
        font-size: 1.7rem;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .withdrawal-h1 {
        font-size: 1.5rem;
        margin: 60px auto;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .expired-h1 {
        font-size: 1.5rem;
        margin: 60px auto;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .register-h2,
    .verification-h2 {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
    
    .expired-h2 {
        font-size: 0.8rem;
        margin-bottom: 50px;
        font-weight: bold;
        text-align: center;
    }

    .withdrawal-h2 {
        font-size: 1rem;
        font-weight: bold;
    }

    .withdrawal-li {
        font-size: 0.7rem;
        font-weight: bold;
    }   

    .register-required-span {
        font-size: 1rem;
        color: red;
    }

    .login-input::placeholder,
    .verification-input::placeholder,
    .register-input::placeholder,
    .info-input::placeholder {
        color: #A6A6A6;
    }

    .register-input,
    .info-input,
    .login-input,
    .password-reconfirm-input,
    .verification-input {
        width: 100%;
        height: 35px;
        padding: 1em;
        margin-bottom: 10px;
        background-color: #F9FAFA;
        border: 1px solid #ccc;
        border-radius: 7px;
        color: #000;
        font-weight: bold;
    }

    .login-input {
        color: #53A73C;
    }

    .login-input:focus,
    .password-reconfirm-input:focus,
    .verification-input:focus {
        border: 1px solid #53A73C;
    }

    input:focus {
        outline:none;
    }

    button:focus {
        outline: none;
    }

    .info-input-readonly {
        width: 100%;
        height: 35px;
        padding: 1em;
        margin-bottom: 10px;
        background-color: #E1E1E1;
        border: 1px solid #ccc;
        border-radius: 7px;
        color: #000;
        font-weight: bold;
    }

    #emailConfirmButton,
    .register-postcode-button,
    .info-postcode-button {
        width: 100px;
        height: 35px;
        margin-bottom: 10px;
        font-weight: bold;
        border: 1px solid #53A73C;
        background-color: transparent;
        border-radius: 7px;
        cursor: pointer;
    }

    .register-button,
    .info-button,
    .login-register-button,
    .password-reconfirm-info-button {
        width: 100%;
        height: 40px;
        margin: 20px auto;
        background-color: #F9FAFA;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid #53A73C;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    .login-button,
    .login-kakaologin-button,
    .verification-button {
        width: 100%;
        height: 40px;   
        margin-top: 10px;     
        margin-bottom: 10px;
        background-color: #F9FAFA;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    .login-button,
    .verification-button {
        color: #000;
        background-color: #D9D9D9;
        cursor: pointer;
    }

    .login-button,
    .login-kakaologin-button,
    #verification-button {
        width: 100%;
        height: 40px;   
        margin-top: 10px;     
        margin-bottom: 10px;
        background-color: #F9FAFA;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    #emailConfirmButton {
        margin-left: 10px;
    }

    .login-button,
    #verification-button {
        color: #000;
        background-color: #D9D9D9;
        cursor: pointer;
    }

    .verification-input-area {
        display: flex;
        flex-direction: row;
    }
    
    .reverification-link {
        background-color: transparent;
        border: 0 none;
        cursor: pointer;
    }
    
    .login-kakaologin-button {
        color: #000;
        background-color: #FEE500;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .withdrawal-button,
    .withdrawal-main-button {
        width: 30%;
        height: 40px;   
        margin-top: 10px;     
        margin-bottom: 10px;
        background-color: #F9FAFA;
        font-size: 0.8rem;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    .withdrawal-button {
        color: #fff;
        background-color: #53A73C;
        margin: 0 20px;
        cursor: pointer;
    }

    .withdrawal-main-button {
        color: #000;
        background-color: #D9D9D9;
        margin: 0 20px;
        cursor: pointer;
    }

    .register-text {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }

    .register-login-link {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: #53A73C;
    }

    .info-withdrawal-link,
    .reverification-link {
        text-decoration: none;
        font-weight: bold;
        color: #4c9adc;
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .login-button-area-1 {
        margin: 0 35px;
        text-align: center;
    }

    .password-reconfirm-button-area {
        margin: 50px 20px;
        text-align: center;
    }

    .withdrawal-text-area {
        width: 90%;
        padding: 20px;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 30px;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #F1F1F1;
        overflow: hidden;
    }

    .withdrawal-button-area {
        text-align: center;
        margin-bottom: 50px;
    }

    .withdrawal-li-area {
        margin: 30px auto;
    }    

    .login-span,
    .password-reconfirm-span {
        font-size: 0.6rem;
        margin: 15px auto;
    }    

    /* 유저컨트롤러 에러메세지 */
    .error-text {
        color: red;
        font-size: 0.7rem;
    }

    /* 실시간 유효성 검사 에러메세지 */
    .errormsg {
        color: red;
        font-size: 0.7rem;
    }

    .user-footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;     
    }
}

/* 태블릿 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .register-container,
    .info-container,
    .password-reconfirm-container,
    .verification-container {
        width: 600px;
        margin: 20px auto 40px auto;
        padding: 2em 3em 2em 3em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }

    .login-container,
    .verification-container {
        width: 600px;
        margin: 100px auto 40px auto;
        padding: 2em 3em 2em 3em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }

    .withdrawal-container {
        width: 750px;
        margin: 20px auto 40px auto;
        padding: 2em 1.2em 2em 1.2em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }

    .register-h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .info-h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .login-h1,
    .password-reconfirm-h1,
    .verification-h1 {
        margin: 60px auto;
        font-size: 1.7rem;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .withdrawal-h1 {
        font-size: 1.7rem;
        margin: 60px auto;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .expired-h1 {
        font-size: 1.7rem;
        margin: 60px auto;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .register-h2,
    .verification-h2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .expired-h2 {
        font-size: 1rem;
        margin-bottom: 50px;
        font-weight: bold;
        text-align: center;
    }

    .withdrawal-h2 {
        font-size: 1.2rem;
        font-weight: bold;
    }    

    .register-required-span {
        font-size: 1rem;
        color: red;
    }

    .login-input::placeholder,
    .verification-input::placeholder,
    .register-input::placeholder,
    .info-input::placeholder {
        color: #A6A6A6;
    }

    .register-input,
    .info-input,
    .login-input,
    .password-reconfirm-input,
    .verification-input {
        width: 100%;
        height: 35px;
        padding: 1em;
        margin-bottom: 10px;
        background-color: #F9FAFA;
        border: 1px solid #ccc;
        border-radius: 7px;
        color: #000;
        font-weight: bold;
    }

    .login-input:focus,
    .password-reconfirm-input:focus,
    .verification-input:focus {
        border: 1px solid #53A73C;
    }

    input:focus {
        outline:none;
    }

    .info-input-readonly {
        width: 100%;
        height: 35px;
        padding: 1em;
        margin-bottom: 10px;
        background-color: #E1E1E1;
        border: 1px solid #ccc;
        border-radius: 7px;
        color: #000;
        font-weight: bold;
    }

    #emailConfirmButton,
    .register-postcode-button,
    .info-postcode-button {
        width: 100px;
        height: 35px;
        margin-bottom: 10px;
        font-weight: bold;
        border: 1px solid #53A73C;
        background-color: transparent;
        border-radius: 7px;
        cursor: pointer;
    }

    .register-button,
    .info-button,
    .login-register-button,
    .password-reconfirm-info-button {
        width: 100%;
        height: 40px;
        margin: 20px auto;
        background-color: #F9FAFA;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid #53A73C;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    .login-button,
    .login-kakaologin-button,
    #verification-button {
        width: 100%;
        height: 40px;   
        margin-top: 10px;     
        margin-bottom: 10px;
        background-color: #F9FAFA;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    #emailConfirmButton {
        margin-left: 10px;
    }

    .login-button,
    #verification-button {
        color: #000;
        background-color: #D9D9D9;
        cursor: pointer;
    }

    .verification-input-area {
        display: flex;
        flex-direction: row;
    }
    
    .reverification-link {
        background-color: transparent;
        border: 0 none;
        cursor: pointer;
    }
    
    .login-kakaologin-button {
        color: #000;
        background-color: #FEE500;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .withdrawal-button,
    .withdrawal-main-button {
        width: 30%;
        height: 40px;   
        margin-top: 10px;     
        margin-bottom: 10px;
        background-color: #F9FAFA;
        font-size: 0.8rem;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    .withdrawal-button {
        color: #fff;
        background-color: #53A73C;
        margin: 0 20px;
        cursor: pointer;
    }

    .withdrawal-main-button {
        color: #000;
        background-color: #D9D9D9;
        margin: 0 20px;
        cursor: pointer;
    }

    .register-text {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }

    .register-login-link {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: #53A73C;
    }

    .info-withdrawal-link,
    .reverification-link {
        text-decoration: none;
        font-weight: bold;
        color: #4c9adc;
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .login-button-area-1 {
        margin: 0 35px;
        text-align: center;
    }

    .password-reconfirm-button-area {
        margin: 50px 20px;
        text-align: center;
    }

    .withdrawal-text-area {
        width: 90%;
        padding: 20px;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 30px;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #F1F1F1;
        overflow: hidden;
    }

    .withdrawal-button-area {
        text-align: center;
        margin-bottom: 50px;
    }

    .withdrawal-li-area {
        margin: 30px auto;
    }    

    .login-span,
    .password-reconfirm-span {
        font-size: 0.9rem;
        margin: 15px auto;
    }

    /* 유저컨트롤러 에러메세지 */
    .error-text {
        color: red;
        font-size: 0.7rem;
    }

    /* 실시간 유효성 검사 에러메세지 */
    .errormsg {
        color: red;
        font-size: 0.7rem;
    }

    .user-footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;     
    }
}

/* 데스크탑 */
@media only screen and (min-width: 1024px) {

    .register-container,
    .info-container,
    .password-reconfirm-container,
    .verification-container {
        width: 600px;
        margin: 20px auto 40px auto;
        padding: 2em 3em 2em 3em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }  

    .login-container,
    .verification-container {
        width: 600px;
        margin: 100px auto 40px auto;
        padding: 2em 3em 2em 3em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }

    .withdrawal-container {
        width: 750px;
        margin: 20px auto 40px auto;
        padding: 2em 1.2em 2em 1.2em;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #FCFDFD;
    }

    .register-h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .info-h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .login-h1,
    .password-reconfirm-h1,
    .verification-h1 {
        margin: 60px auto;
        font-size: 1.7rem;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .withdrawal-h1 {
        font-size: 1.7rem;
        margin: 60px auto;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .expired-h1 {
        font-size: 1.7rem;
        margin: 60px auto;
        font-weight: bold;
        color: #53A73C;
        text-align: center;
    }

    .register-h2 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .verification-h2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .expired-h2 {
        font-size: 1rem;
        margin-bottom: 50px;
        text-align: center;
        font-weight: bold;
    }

    .withdrawal-h2 {
        font-size: 1.2rem;
        font-weight: bold;
    }    

    .register-required-span {
        font-size: 1rem;
        color: red;
    }

    .login-input::placeholder,
    .verification-input::placeholder,
    .register-input::placeholder,
    .info-input::placeholder {
        color: #A6A6A6;
    }

    .register-input,
    .info-input,
    .login-input,
    .password-reconfirm-input,
    .verification-input {
        width: 100%;
        height: 35px;
        padding: 1em;
        margin-bottom: 10px;
        background-color: #F9FAFA;
        border: 1px solid #ccc;
        border-radius: 7px;
        color: #000;
        font-weight: bold;
    }

    .login-input:focus,
    .password-reconfirm-input:focus,
    .verification-input:focus {
        border: 1px solid #53A73C;
    }

    input:focus {
        outline:none;
    }

    .info-input-area .info-input + .error-text {
        margin-bottom: 0 !important;
    }

    .info-input-readonly {
        width: 100%;
        height: 35px;
        padding: 1em;
        margin-bottom: 10px;
        background-color: #E1E1E1;
        border: 1px solid #ccc;
        border-radius: 7px;
        color: #000;
        font-weight: bold;
    }

    #emailConfirmButton,
    .register-postcode-button,
    .info-postcode-button {
        width: 100px;
        height: 35px;
        margin-bottom: 10px;
        font-weight: bold;
        border: 1px solid #53A73C;
        background-color: transparent;
        border-radius: 7px;
        cursor: pointer;
    }

    .register-button,
    .info-button,
    .login-register-button,
    .password-reconfirm-info-button {
        width: 100%;
        height: 40px;
        margin: 20px auto;
        background-color: #F9FAFA;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid #53A73C;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    .login-button,
    .login-kakaologin-button,
    #verification-button {
        width: 100%;
        height: 40px;   
        margin-top: 10px;     
        margin-bottom: 10px;
        background-color: #F9FAFA;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    #emailConfirmButton {
        margin-left: 10px;
    }

    .login-button,
    #verification-button {
        color: #000;
        background-color: #D9D9D9;
        cursor: pointer;
    }

    .verification-input-area {
        display: flex;
        flex-direction: row;
    }
    
    .reverification-link {
        background-color: transparent;
        border: 0 none;
        cursor: pointer;
    }
    
    .login-kakaologin-button{ 
        color: #000;   
        background-color: #FEE500;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .withdrawal-button,
    .withdrawal-main-button {
        width: 30%;
        height: 40px;   
        margin-top: 10px;     
        margin-bottom: 10px;
        background-color: #F9FAFA;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 7px;
        color: #53A73C;
        cursor: pointer;
    }

    .withdrawal-button {
        color: #fff;
        background-color: #53A73C;
        margin: 0 20px;
        cursor: pointer;
    }

    .withdrawal-main-button {
        color: #000;
        background-color: #D9D9D9;
        margin: 0 20px;
        cursor: pointer;
    }

    .register-text {
        font-size: 1.0rem;
        font-weight: bold;
        text-align: center;
    }

    .register-login-link {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: #53A73C;
    }

    .info-withdrawal-link,
    .reverification-link {
        text-decoration: none;
        font-weight: bold;
        color: #4c9adc;
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .login-button-area-1 {
        margin: 0 35px;
        text-align: center;
    }

    .password-reconfirm-button-area {
        margin: 50px 20px;
        text-align: center;
    }

    .withdrawal-text-area {
        width: 90%;
        padding: 20px;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 30px;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #F1F1F1;
        overflow: hidden;
    }

    .withdrawal-button-area {
        text-align: center;
        margin-bottom: 50px;
    }

    .withdrawal-li-area {
        margin: 30px auto;
    }    

    .login-span,
    .password-reconfirm-span {
        font-size: 0.9rem;
        margin: 15px auto;
    }    

    /* 유저컨트롤러 에러메세지 */
    .error-text {
        color: red;
        font-size: 0.7rem;
    }


    /* 실시간 유효성 검사 에러메세지 */
    .errormsg {
        color: red;
        font-size: 0.7rem;
    }

    .user-footer {
        width: 100%;
        position: fixed;
        bottom: 0;       
    }
}