
/* 기본 값
/* ------------------------------------------------------------------------ */
@font-face {
	src: url(../../font/a신디나루M.ttf);
	font-family: "main-font";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Inter', sans-serif; */
	font-family: "main-font";
	font-size: 25px;
	font-weight: 600;
	cursor: url(../../cur/B.cur), url(../../cur/A.cur), auto
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	text-decoration-line: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
	border: none;
	background-color: transparent;
}

body {
	background-image: url(../../img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
}

main {
	width: 1820px;
	height: 950px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 50px 50px 0px;
	position: relative;
	/* z-index: -1; */
}


button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
	outline: none;
	border: none;
}
/* ------------------------------------------------------------------------ */



/* 레이아웃 구분 */
/* ------------------------------------------------------------------------ */
.header {
	background-color: #ebd461;
	background-color: #ebd461;
	width: 100%;
	height: 90px;
	border-radius: 0px 50px 0px 0px;
	position: absolute;
	top: 0px;
	/* z-index: -2; */
}

.header h1 {
	display: inline-block;
	margin-left: 60px;
	line-height: 90px;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.5);
}

.header h1:hover {
	color: #fff;
	transform: scale(1.1);
	transition-duration: 0.3s;
}

.side-left {
	padding: 40px 45px 45px 50px;
	width: 440px;
	height: 860px; 
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 90px; 
	/* z-index: -3; */
}

.side-left-box {
	width: 340px;
	height: 775px;
}

.side-left-on:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.side-left-off:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.date-label {
	position: relative;
}

.date-btn {
	position: absolute;
	top: -8px;
	right: 20px;
}

.date-btn img {
	width: 40px;
	opacity: 0.2;
}

.date-btn img:hover {
	opacity: 1;
}

.date-box {
	width: 340px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #e7ca36;
	text-align: center;
	color: #e7ca36;
}

.date-box:focus {
	background-color: #e7ca36;
	color: #fff;
	border: none;
	outline: none;
}


/* input[type='date'] {
	position: relative;
} */

.date-box[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

.date-box[type='date']::before {
	content: attr(placeholder);
	height: 100%;
	}

.date-box[type='date']:valid::before {
	display: none;
}

/* input[type='date']::before {
	content: attr(placeholder);
	height: 100%;
} */
/* ------------------------------------------------------------------------ */



/* 좌측 */
/* ------------------------------------------------------------------------ */


.side-left-line-1 {
	margin: auto;
	margin-top: 30px;
	width: 140px;
	border: 3px solid #ebd461;
	border-radius: 5px;
}

.side-left-on {
	margin-top: 30px;
	background-image: url(../../img/btn-on.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: #e7ca36
}

.side-left-off {
	margin-top: 25px;
	background-image: url(../../img/btn-off.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: rgba(0, 0, 0, 0.5);
}

.side-left-on:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}
.side-left-off:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.side-left-page:hover {
	background-image: url(../../img/btn-on.png);
	color: #dfc235;
}

.side-left-line-2 {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 140px;
	border: 3px solid #ebd461;
	border-radius: 5px;
}

/* .side-left-box-category {
	margin-top: 15px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #57BCA9;
	text-align: center;
	line-height: 43px;
	color: #57BCA9;
} */

.category-box {
	margin-top: 20px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #e7ca36;
	text-align: center;
	line-height: 43px;
	color: #e7ca36;
	display: inline-block;
}

input[type="radio"] {
    display: none; /* 라디오 버튼 숨김 */
}

input[type="radio"]:checked + label {
    background-color:#ebd461;
	color: #fff;
}

.category-box:hover {
    background-color:#ebd461;
	color: #fff;
}
/* ------------------------------------------------------------------------ */



/* 중앙 */
/* ------------------------------------------------------------------------ */

.content {
	position: absolute;
	top: 90px; 
	left: 440px;
	padding: 40px 30px;
}

.content-box {
	width: 870px;
	height: 780px;
}

/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */

.content-box {
	text-align: center;
	color: #2CAE92;
	font-size: 30px;
}
.content-box>form {
	margin-top: 15px;
}

select {
		border:none;
		border-radius:0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: rgb(255, 255, 255, 0.5);
		display: inline-block;
		border: none;
		width: 850px;
		height: 104px;
		border-radius: 30px;
		text-align: center;
		line-height: 104px;
		margin-top: 30px;
		color: #2CAE92;
		font-size: 30px;
}
select:focus {
	outline: 0;
}
select:hover {
	background-color: rgb(255, 255, 255, 0.8);
	border: 3px solid #57BCA9;

}
.update-category>select>option {
	color: rgb(0, 0, 0, 0.4);
	background-color: rgb(246, 246, 229, 0.9);
}
.update-category>select>option:hover {
	background-color: rgb(147, 147, 216);
}
.update-date-total {
	margin-top: 13px;
	background-color: rgb(255, 255, 255, 0.5);
}
/* .update-date[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

.update-date[type='date']::before {
	content: attr(placeholder);
	height: 100%;
	} */
.update-date {
	width: 850px;
	height: 104px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	border-radius: 30px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	box-sizing: border-box;
	font-size: 30px;
}

.update-date[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 850px;
	height: 157px;
	background: transparent;
	color: transparent;
	cursor: pointer;
	box-sizing: border-box;
}
.update-date{
	/* min-width: 100%; */
	text-align: center;
} 
.update-date[type='date']:focus, .update-date-total[type='date']:active{
	outline: none;
	border: 3px solid #57BCA9;
} 
	
.update-date{
cursor: pointer;
text-align: center;
}

.update-date:hover {
background-color: rgba(255, 255, 255, 0.8);
border: 3px solid #57BCA9;
}

.update-date[type='date']:valid::before {
	display: none;
}
.update-date:focus{
	background-color: rgba(255, 255, 255, 0.8);
}

.update-title-memo {
	display: grid;
	justify-content: center;
}
.update-title, .update-memo {
	box-sizing: border-box;
	width: 888px;
	height: 104px;
	line-height: 104px;
	margin-top: 30px;
	outline: none;
}
.update-title>label, .update-memo>label {
	box-sizing: border-box;
	background-color: rgb(255, 255, 255, 0.5);
	width: 158px;
	height: 100%;
	display: inline-block;
	border-radius: 30px;
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
	border: none;
	resize: none;
	background-color: transparent;
}
.update-title>input[type=text], textarea{
	
	box-sizing: border-box;
	padding: 18px 25px;
	width: 682px;
	height: 100%;
	border-radius: 30px;
	background-color: rgb(255, 255, 255, 0.5);
}

#update-title:focus + #title1{
	background-color: #57BCA9;
}



.update-spent>input[type=number]{
	box-sizing: border-box;
	display: inline-block;
	padding: 22px 25px;
	width: 400px;
	height: 84px;
	border-radius: 30px;
	background-color: rgb(255, 255, 255, 0.5);
	margin-top: 43px;
	border: 3px solid #57BCA9;
	text-align: center;
	
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.update-spent>input[type=number]:focus
,.update-title>input[type=text]:focus
,textarea:focus{
	outline: none;
	background-color: rgb(255, 255, 255, 0.8);
}
.update-button>button, .update-button>a{
	box-sizing: border-box;
	border: none;
	width: 260px;
	height: 80px;
	display: inline-block;
	border-radius: 30px;
	background-color: rgb(255, 255, 255, 0.5);
	line-height: 80px;
	margin-top: 52px;
	color: #2CAE92;
}
.update-button>button:visited, .update-button>a:visited {
	color: #2CAE92;
}
.update-button>button:hover, .update-button>a:hover {
	background-color: rgb(255, 255, 255, 0.8);
	transition: 0.2s;
	color: #ebd461;
}

.update-icon{
	background-color: rgb(255, 255, 255, 0.5);
	background-image: url(../../icon/update_icon.png);
	background: cover;
	margin-top: 10px;
	width: 340px;
	height: 265px;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 20px;
	border: 3px solid #ebd461;
	display: inline-block;
	background-position: center center;
}
.update-icon:hover {
	background-color: #ebd461;
}

.update-error{
	display: inline-block;
	text-align: center;
	font-size: 2rem;
	color: #2CAE92;
	margin-top: 10px;
	margin-bottom: -50px;
}