.tran {
  text-transform: capitalize;
  text-transform: uppercase;
  text-transform: lowercase;
}

.spacing {
  letter-spacing: 50px;
}

.w_spacing {
  word-spacing: 2.5em;
}

.shadow {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 10px red;
}
